.Ellipse1{
position: absolute;
width: 85px;
height: 85px;
left: 146px;
top: 98px;
background: rgba(255, 127, 127, 0.75);
border: 1px solid #000000;
box-sizing: border-box;
}

.Ellipse3{
position: absolute;
width: 85px;
height: 85px;
left: 179px;
top: 155px;

background: rgba(127, 215, 167, 0.75);
border: 1px solid #000000;
box-sizing: border-box;
}

.Ellipse2{
position: absolute;
width: 85px;
height: 85px;
left: 114px;
top: 155px;

background: rgba(127, 183, 223, 0.75);
border: 1px solid #000000;
box-sizing: border-box;
}